header {
    background-color: rgb(90, 55, 40);
    color: rgb(255, 240, 245);
    text-align: center;
}

img {
    max-width: 100%;
}

h3 {
    color: rgb(90, 55, 40);
}

p, li {
    color: rgb(90, 55, 40);
    font-family: "Open Sans", Arial, sans-serif;
}

@media (min-width: 320px){
    body {
        background-color: rgb(255, 240, 245);
    }

    main {
        width: 300px;
        margin: 0px auto;
        text-align: center;
    }
}

@media (min-width: 768px){
    body {
        background-color: rgb(225, 245, 230);
    }

    header {
        color: rgb(225, 245, 230);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    main {
        width: 700px;
        text-align: left;
    }

    .intro, .details {
        display: flex;
        gap: 20px;
    }

    .intro img {
        order: 1;
        width: 45%;
    }

    .intro-text {
        order: 2;
    }

    ul {
        columns: 2;
    }
}

@media (min-width: 1060px){
    body {
        background-color: rgb(90, 55, 40);
        color: rgb(240, 194, 237);
    }

    header {
        background-color: rgb(240, 194, 237);
        color: rgb(90, 55, 40);
    }

    main {
        width: 960px;
    }

    .intro-text {
        order: 1;
        font-size: 20px;
    }

    .intro img {
        order: 2;
    }

    .recipe {
        display: flex;
        gap: 40px;
    }

    ul {
        columns: 1;
    }

    h3 {
        color: rgb(240, 194, 237);
    }

    p, li {
        color: rgb(255, 240, 245);
    }
}