header {
    background-color: rgb(90, 55, 40);
    color: rgb(255, 240, 245);
    text-align: center;
    padding: 10px;
}

h1, h2, h3, p, li {
    font-family: "Open Sans", Arial, sans-serif;
}

h2, h3 {
    color: rgb(90, 55, 40);
}

p, li {
    color: rgb(90, 55, 40);
}

img {
    max-width: 100%;
}

@media (min-width: 320px){
    body {
        background-color: rgb(255, 240, 245);
    }

    main {
        width: 300px;
        margin: 0px auto;
        text-align: center;
    }

    li {
        list-style-position: inside;
    }
}

@media (min-width: 768px){
    body {
        background-color: rgb(225, 245, 230);
    }

    header {
        color: rgb(225, 245, 230);
        text-align: left;
        padding: 10px 40px;
    }

    h1, h2, h3 {
        font-family: "Oswald", Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    main {
        width: 700px;
        text-align: left;
    }

    .intro, .details {
        display: flex;
        gap: 20px;
    }

    .intro img {
        order: 1;
        width: 45%;
    }

    .intro-text {
        order: 2;
        font-style: italic;
    }

    .ingredients ul {
        columns: 2;
    }
}

@media (min-width: 1060px){
    body {
        background-color: rgb(90, 55, 40);
    }

    header {
        background-color: rgb(240, 194, 237);
        color: rgb(90, 55, 40);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    main {
        width: 960px;
    }

    .intro {
        align-items: center;
    }

    .intro-text {
        order: 1;
        font-style: normal;
        font-size: 22px;
    }

    .intro img {
        order: 2;
        width: 35%;
    }

    .recipe {
        display: flex;
        gap: 60px;
    }

    .ingredients ul {
        columns: 1;
    }

    p, li {
        color: rgb(255, 240, 245);
        font-size: 18px;
        font-weight: 300;
    }

    h2, h3 {
        color: rgb(240, 194, 237);
    }
}