header {
    background-color: rgb(240, 194, 237);
}

img {
    max-width: 100%;
}

p {
    color: rebeccapurple;
    font-family: "Open Sans", Arial, sans-serif;
}

@media (min-width: 744px){
    p {
        columns: 2;
        color: darkred;
    }
}

@media (min-width: 1060px){
    main {
        width: 960px;
        margin: 0px auto;
    }

    p {
        columns: 3;
        color: darkgreen;
    }
}